* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --textColor: #eee;
}
body {
  font-family: "Montserrat", sans-serif;
}

#particles-js {
  width: 100%;
  height: 100vh;
  background-image:
      linear-gradient(rgba(6, 5, 5, 0.667),
          rgba(255, 255, 255, 0.591)),
      url(./assets/day.gif);
  background-position: center;
  background-size: cover;
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 100px;
}

.playing {
  color: white;
  font-size: 12px;
  text-align: center;
}
.controls {
color: aliceblue;
font-size: 24px;
margin-bottom: 5px;
}
.controls i {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.controls i:active {
    transform: rotate();
    font-size: 20px;
    color: red;
}

.indreni {
margin-top: 0.10px;
}

@media screen and (max-width: 400px) {
  div.responsive {
    display: none;
  }
}


.johncena::-webkit-scrollbar {
  display: none;
}

/*Animation Prefs*/
@keyframes pulse {
 40% {background-color: #49e766;}
 100% {background-color: #ffffff;}
}
/*Body Styles*/
.tester {
animation: pulse 1s infinite alternate;
background-color: #49e766;
}


/*Animation Prefs*/
@keyframes pulse2 {
  40% {background-color: #f33333;}
  100% {background-color: #ffffff;}
 }
 /*Body Styles*/
 .tester2 {
 animation: pulse2 1s infinite alternate;
 background-color: #f33333;
 }

 @keyframes pulse3 {
  40% {background-color: #f33333;}
  100% {background-color: #ffffff;}
 }


section {
  width: 100vw;
  height: 10vh;
  padding-top: 5vh;
  padding-bottom: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  color: var(--textColor);
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.33rem;
  text-align: center;
}
.countdown-container {
  width: 77vw;
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.big-text {
  color: var(--textColor);
  font-size: 4rem;
  font-weight: 700;
}
.element-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 3rem;
}
.element-container span {
  color: var(--textColor);
  font-size: 1rem;
  font-weight: 400;
}
